(edif SCHEMATIC1
 (edifVersion 2 0 0)
 (edifLevel 0)
 (keywordMap (keywordLevel 0))
 (status
  (written
   (timeStamp 2017 11 11 08 04 42)
   (program "CAPTURE.EXE" (Version "9.2.446 CIS"))
   (comment "Original data from OrCAD/CAPTURE schematic"))
  (comment "")
  (comment "Saturday, November 11, 2017")
  (comment "K:\DLC\ORCAD NEW VERSION\NEW VERSION.DSN")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment "")
  (comment ""))
 (external OrCAD_LIB
  (edifLevel 0)
  (technology
   (numberDefinition
    (scale 1 1 (unit distance))))